

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

html{
  font-size: 16px;
}
  body {
     color: black;
     font-family: 'Josefin Sans', sans-serif;
     font-weight: 400;
     font-size: 1rem;
     line-height: 1.2;

   }

   .text-dark {
     color: rgb(3, 2, 2);
   }
   .text-uppercase {
     text-transform: uppercase;
   }
   .font-weight-bold {
     font-weight: 700;
   }

   a {
     color: chocolate;
     text-decoration: none;
    
   }
   a:hover {
     color: crimson;
     text-decoration: underline;
   }
   .btn {
     background-color: transparent;
     text-align: center;
     font-size: 1.1em;
     line-height: 1.5;
   }
   
   .btn-dark {
    color: white;
    background-color: darkolivegreen;


   }
   .btn-dark:hover {
     color: yellow;
     background-color: yellowgreen;
     text-decoration: none;
   }