:root{
    --black: rgba(2,2,2,0.9);
    --white: #efe;
    --grey-5: #555;

    --font-primary: 'Titillium Web', sans-serif;
    --root-font-size: 16px;
    --grey-5: #555;
    


    --font-size-default: calc(var(--root-font-size)/16*1rem);
    --transition: all 0.3s linear;
}
