:root{
    --black: rgba(2,2,2,0.9);
    --white: #efe;
    --grey-5: #555;

    --font-primary: 'Titillium Web', sans-serif;
    --root-font-size: 16px;

    /* Variables */

    /* darkest grey - used for headings */
    --grey-1: hsl(209, 61%, 16%);
    --grey-2: hsl(211, 39%, 23%);
    --grey-3: hsl(209, 34%, 30%);
    --grey-4: hsl(209, 28%, 39%);

    /* grey used for paragraphs */
    --grey-5: hsl(210, 22%, 49%);
    --grey-6: hsl(209, 23%, 60%);
    --grey-7: hsl(211, 27%, 70%);
    --grey-8: hsl(210, 31%, 80%);
    --grey-9: hsl(212, 33%, 89%);
    --grey-10: hsl(210, 36%, 96%);

    --red-dark: hsl(360, 67%, 44%);
    --red-light: hsl(360, 71%, 66%);
    --green-dark: hsl(125, 67%, 44%);
    --green-light: hsl(125, 71%, 66%);

    --secondary: hsla(182, 63%, 54%);
    --link-primary: hsla(50, 83%, 54%);
    --link-primary-hover: hsl(360, 71%, 66%);

    /* dark shades of primary color*/
    --primary-1: hsl(205, 86%, 17%);
    --primary-2: hsl(205, 77%, 27%);
    --primary-3: hsl(205, 72%, 37%);
    --primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --primary-6: hsl(205, 89%, 70%);
    --primary-7: hsl(205, 90%, 76%);
    --primary-8: hsl(205, 86%, 81%);
    --primary-9: hsl(205, 90%, 88%);
    --primary-10: hsl(205, 100%, 96%);

    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    --max-width: 1170px;
    --fixed-width: 620px;
    

  /* Typography | Global */
/*   --font-primary: "Open Sans", sans-serif; */
  --font-size--small: calc((14/16) * 1rem); /* 14px */
  --font-size--default: calc((16/16) * 1rem); /* 16px */
  --font-size--large: calc((24/16) * 1rem); /* 24px */

  /* body font size */

  --text-base-size: 1em;
  --text-line-height:1.5;
  
  /* type scale */
  --text-scale-ratio: 1.2;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));


  --categories-length:0; 
  
}


@media (min-width: 64rem) {
  :root {
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25;
  }
}

